body {
	max-height: 1024px;
}

header {
	display: flex;
	max-width: 1140px;
	margin: auto;
	margin-top: 50px;
	align-items: center;
}

header img {
	width: 10%;
}

.header-title {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

.login-form, .signin-form {
	max-width: 379px;
	margin: auto;
	margin-top: 150px;
}

.login-form h2, .signin-form h2 {
	text-align: center;
}

.login-form form, .signin-form form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

.login-form input, .signin-form input {
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 400;
	padding-left: 16px;
}

.login-form label, .signin-form label {
	margin: 2em 0 1em 0;
}

.login-form textarea, .signin-form textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 400;
	padding-left: 16px;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}


footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 22px 97px 22px 0;
}


.forgotten-password-link {
	display: flex;
	justify-content: center;
}

.login_page-footer {
	margin-top: 355px;
	display: flex;
	justify-content: flex-end;
}

#errorMessage {
	display: none;
	color: red;
	border: red 2px solid;
	margin-top: 50px;
}

a {
	text-decoration: none;
	color: black;
}